GITHUB_OAUTH_TOKEN: "{{lookup('env', 'COMPOSER_TOKEN')}}"
PF_TABLES:
  moderators:
    - ""
  docker_clients:
    - "10.4.0.253"
    - "10.4.0.254"
  docker_servers:
    - "10.4.0.0/24"
  registry_clients:
    - "10.4.0.1"
  registry_servers:
    - "10.4.0.100"
  targets_networks:
    - ""
  targets:
    - ""
  target_network_ranges:
    - "10.4.1.0/24"

CHECKOUT_VERSION: main

resolvconf: |
  nameserver 192.168.120.1


DOCKER_REGISTRY:
  - registry.ziberhub.eus:5000

aptKeys:
 - { key: "https://download.docker.com/linux/debian/gpg", state: "present" }

aptRepos:
 - { repo: "deb [arch=amd64] https://download.docker.com/linux/debian bookworm stable", state: "present"}

pre_apt:
 - iptables-persistent
 - python3-pip
 - rsync
 - open-vm-tools
 - python3-setuptools
 - apt-transport-https
 - ca-certificates
 - curl
 - gnupg2
 - software-properties-common
 - rdate
 - python3-requests
 - python3-docker

post_apt:
 - docker-ce

pip:
# Version pining of requests since it breaks
# - { name: "requests", version: "2.28.1", state: "present" }
# - { name: "docker", version: "*", state: "present" }

etchosts: |
  127.0.0.1       localhost
  {{ipv4}}        {{fqdn}}    {{host_aliases}}
  10.4.0.254      gw
  10.4.0.100      registry.hackmex.mx

SYSTEM_CLEANUPS:
  - /root/setup_16.x
  - /root/proditis.keys
ansible_python_interpreter: /usr/bin/python3
container: true